# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
*.js

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore build output directories
dist/
build/
out/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db